/3D-glowing-bottle
/3d-text-rotating-effect
/README.md
/animated-background
/animated-border
/animated-text-disappear
/black-circle-animation
/bottom-navigation-bar
/bouncing-ball
/christmas-tree-animation
/circular-progress-bar
/clipped-square-loader
/color-selector
/colors-loader
/controlled-brightness-in-a-light
/drag-and-drop-list
/dropdown-menu
/dual-search-bar
/expanding-text-animation
/fingerprint-login-animation
/flipping
/haunted-manor
/heart-beat-animation
/hills-animation
/image-corner-hover-effect
/image-rotate-animation
/light-and-dark-toggle
/loader
/loading-animation
/loading-knight-animation
/login-form
/moving-tabs
/navigation-bar
/neon-download-button
/opening-envelope
/play-button
/preloader
/product-card-animation
/progress-bar
/radial-menu
/radiant-ripple
/responsive-footer
/ripple-loader
/search-bar
/season-slider
/sleeping-santa
/social-media-icon-popup
/subscription-form
/text-animation
/text-transition
/vertical-navigation-bar
/waving-wine-glass
/weather-animation